{% extends 'protected/tasks/tasks_list.html' %}
{% block title %}Task Form | Tasks{% endblock %}
{% block addon_head %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tasks/task-form.css' %}">
{% endblock %}
{% block content %}
 
    <div id="task-modal" >
        <div>
            <span  id="task-modal-close">&times;</span>
            <h2>Add Task</h2>
            <form id="task-form" method="post" action="{% url 'task_add' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class ="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}