<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}TaskTodo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
    {% block extra_head %}{% endblock %}
  </head>

  <body class="h-full">
    <!-- Header Block -->
    {% block header %}
      <header>
        <h1>{% block header_title %}TaskTodo{% endblock %}</h1>
        <p>{% block header_subtitle %}Your task manager{% endblock %}</p>
      </header>
    {% endblock %}

    <!-- Navigation Block -->
    {% block nav %}<nav></nav>{% endblock %}

    <!-- Main content -->
    <main class="h-full">{% block content %}{% endblock %}</main>

    <!-- Footer Block -->
    {% block footer %}
      <footer>
        <p>© {{ year|default:2025 }} TaskTodo</p>
      </footer>
    {% endblock %}
  </body>
</html>