{% extends 'base.html' %}
{% load static %}

{% block title %}Hub | TaskTodo{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block nav %}
{% include './navbar.html' %}
{% endblock %}

{% block header %}
    <header>
        <h1>Welcome to TaskTodo</h1>
        <p>Your personal task management hub</p>
    </header>
{% endblock %}

{% block content %}
    <div class="hub-content">
        <h2>Your Tasks Overview</h2>
        <!-- You can add more content here, like a summary of tasks or statistics -->
    </div>
{% endblock %}
{% block footer %}
    <footer>
        <p>&copy; 2025 TaskTodo. All rights reserved.</p>
    </footer>
{% endblock %}